//$variables color and sizes
//colors
$GreyChateau: #a1a3a5;
$NightRider: #2f2f2f;
$Black: #000;
$BlackRussian: #222428;
$BlackRock: #37383F;
$Eclipse: #3c3c3c;
$MidnightExpress: #262835;
$BahamaBlue: #1d4d82;
$Lochmara: #236aa6;
$CuriousBlue: #368BBC;
$SkyBlue: #87CEEB;
$Raffia: #DAC9A3;
$White : #FFFFFF;
$Whisper : #E8E8E8;
$Snow: #FAFAFA;
$AlmondFrost: #8f8b88;
$GhostWhite: #F6F7F7;
$NightRider: #2b2b2b;
$Nevada: #6A6B6D;

//fonts
$Lato: 'Lato', sans-serif;
$AbhayaLibre: 'Abhaya Libre', serif;
$Roboto: 'Roboto', sans-serif;
$Raleway: 'Raleway', sans-serif;
$WorkSans: 'Work Sans', sans-serif;
